
export("CombineCounts");
export("CombineStarSj");
export("CompareStarSj");
export("ConvertGa2Gr");
export("ConvertSam2Bam");
export("CountRead");
export("GetGeneCount");
export("GetUniqueMapping");
export("LoadBam");
export("LoadGa");
export("LoadGaPe");
export("LoadGaSe");
export("LoadHTseq");
export("LoadStarSj");
export("MapInterval2Exon");
export("MapRead2Feature");
export("MergeStarSj");
export("PlotLogScatter");
export("RunStar");
export("SplitGa");
export("SplitPairUnpaired");
export("StarAlignment");
export("SummarizeStarSj");

